<!-- Wrapper -->
<div id="wrapper">
  <!-- Header Container
    ================================================== -->
  <app-navbar></app-navbar>
  <!-- Header Container / End -->

  <!-- Intro Banner
    ================================================== -->
  <!-- add class "disable-gradient" to enable consistent background overlay -->
  <div class="intro-banner" data-background-image="https://images.pexels.com/photos/3758748/pexels-photo-3758748.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
    <div class="container">
      <!-- Intro Headline -->
      <div class="row">
        <div class="col-md-12">
          <div class="banner-headline">
            <h3>
              <strong>Encuentra los mejores médicos de Costa Rica.</strong>
              <br />
              <span
                >Muchas personas utilizan un 
                <strong class="color">directorio médico</strong> para agendar citas sin salir de casa.</span
              >
            </h3>
          </div>
        </div>
      </div>

      <!-- Search Bar -->
      <div class="row justify-content-center">
        <div class="col-md-12 justify-content-center margin-top-45">
            <button class="button big ripple-effect" routerLink="/doctores">Buscar Doctores</button>
        </div>
      </div>
      <br>
      <!-- Stats 
      <div class="row">
        <div class="col-md-12">
          <ul class="intro-stats margin-top-45 hide-under-992px">
            <li>
              <strong class="counter">1,586</strong>
              <span>Jobs Posted</span>
            </li>
            <li>
              <strong class="counter">3,543</strong>
              <span>Tasks Posted</span>
            </li>
            <li>
              <strong class="counter">1,232</strong>
              <span>Freelancers</span>
            </li>
          </ul>
        </div>
      </div>-->
    </div>
  </div>

  <!-- Content
    ================================================== -->


      <!-- Highest Rated Freelancers -->
  <div
  class="section padding-top-65 padding-bottom-70 full-width-carousel-fix"
>
  <div class="container">
    <div class="row">
      <div class="col-xl-12">
        <!-- Section Headline -->
        <div class="section-headline margin-top-0 margin-bottom-25">
          <h3>¿Cómo funciona?</h3>
        </div>
      </div>

      <div class="col-xl-12">
        <div
          class="default-slick-carousel freelancers-container freelancers-grid-layout"
        >
          <!--Freelancer -->
          <div class="freelancer">
            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <i style="color: blue" class="fas fa-search fa-10x"></i>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <p>Busca la especialidad del profesional que necesitas.</p>
              </div>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">
            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <i style="color: blue" class="fas fa-user-md fa-10x"></i>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <p>Investiga el perfil del profesional y verifica que cumple con tus necesidades.</p>
              </div>
            </div>
          </div>
          <!-- Freelancer / End -->

          <!--Freelancer -->
          <div class="freelancer">
            <!-- Overview -->
            <div class="freelancer-overview">
              <div class="freelancer-overview-inner">

                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <i style="color: blue" class="fas fa-calendar-check fa-10x"></i>
                </div>
              </div>
            </div>

            <!-- Details -->
            <div class="freelancer-details">
              <div class="freelancer-details-list">
                <p>Agenda y acude a la cita que reservaste.</p>
              </div>
            </div>
          </div>
          <!-- Freelancer / End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Highest Rated Freelancers / End-->


  <!-- Highest Rated Freelancers -->
  <div
    class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix"
  >
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <!-- Section Headline -->
          <div class="section-headline margin-top-0 margin-bottom-25">
            <h3>Doctores altamente capacitados</h3>
            <a routerLink="/doctores" class="headline-link"
              >Ver todos...</a
            >
          </div>
        </div>

        <div class="col-xl-12">
          <div
            class="freelancers-container freelancers-grid-layout"
          >
            <!--Freelancer -->
            <div class="freelancer" *ngFor="let doctor of doctores">
              <!-- Overview -->
              <div class="freelancer-overview">
                <div class="freelancer-overview-inner">

                  <!-- Avatar -->
                  <div class="freelancer-avatar">
                    <a [routerLink]="['/doctor', doctor.IdDoctor]"
                      ><img src="{{ doctor.Foto | imagen }}" alt=""
                    /></a>
                  </div>

                  <!-- Name -->
                  <div class="freelancer-name">
                    <h4>
                      <a [routerLink]="['/doctor', doctor.IdDoctor]"
                        >{{ doctor.NombreCompleto }}
                        </a>
                    </h4>
                    <span>{{ doctor.Titulo }}</span>
                  </div>
                  <br>
                  <p class="text-muted text-center">{{ doctor.SobreMi }}</p>
                </div>
              </div>

              <!-- Details -->
              <div class="freelancer-details">
                <div class="freelancer-details-list">
                  <ul>
                    <li>
                      Locación
                      <strong
                        ><i class="fas fa-map-marker-alt"></i>
                         {{ doctor.Locacion }}</strong
                      >
                    </li>
                    <li> <strong></strong></li>
                    <li> <strong></strong></li>
                  </ul>
                </div>
                <button
                [routerLink]="['/doctor', doctor.IdDoctor]"
                  class="button btn-block button-sliding-icon ripple-effect"
                  >Más información
                  <i class="fas fa-arrow-right"></i>
                </button>
              </div>
            </div>
            <!-- Freelancer / End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Highest Rated Freelancers / End-->


  <!-- Footer
    ================================================== -->
  <app-footer></app-footer>
  <!-- Footer / End -->
</div>
<!-- Wrapper / End -->
