<div class="dashboard-content-container" data-simplebar>
  <div class="dashboard-content-inner">
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
      <small class="text-muted">Última actividad: {{ this.auth.obtenerDoctorLogeado().FechaUltimaActividad | date:'short':'UTC' }}</small>
      <h3>Bienvenido, {{ this.auth.obtenerDoctorLogeado().Nombre }}</h3>
      <span>Un gusto servirte de nuevo!</span>

      <!-- Breadcrumbs -->
      <nav id="breadcrumbs" class="dark">
        <ul>
          <li><a href="#">Home</a></li>
          <li>Dashboard</li>
        </ul>
      </nav>
    </div>
</div>
