<!-- Footer -->
<div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
  <div class="small-footer-copyrights">
    © {{ fecha.getFullYear() }} <strong>Grupo Argus</strong>. Derechos Reservados.
  </div>
  <ul class="footer-social-links">
    <li>
      <a href="https://www.facebook.com/grupoarguscr/" title="Facebook" target="_blank" data-tippy-placement="top">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li>
      <a href="https://www.instagram.com/grupo.argus/" title="Instagram" target="_blank" data-tippy-placement="top">
        <i class="fab fa-instagram-square"></i>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCy0pyg30sppX1gyXQlzeX4w" title="YouTube" target="_blank" data-tippy-placement="top">
        <i class="fab fa-youtube-square"></i>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
<!-- Footer / End -->
