<!-- Footer -->
<div class="dashboard-footer-spacer"></div>
<div class="small-footer margin-top-15">
  <div class="small-footer-copyrights">
    © {{ fecha.getFullYear() }} <strong>Grupo Argus</strong>. Derechos Reservados.
  </div>
  <ul class="footer-social-links">
    <li>
      <a href="#" title="Facebook" data-tippy-placement="top">
        <i class="fab fa-facebook-square"></i>
      </a>
    </li>
    <li>
      <a href="#" title="Twitter" data-tippy-placement="top">
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
    <li>
      <a href="#" title="LinkedIn" data-tippy-placement="top">
        <i class="fab fa-linkedin"></i>
      </a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
<!-- Footer / End -->
