<app-navbar></app-navbar>
<br />
<!-- Spacer -->
<div class="margin-top-90"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-lg-4">
      <h3>Filtrar:</h3>
      <br />
      <div class="sidebar-container">
        <!-- Location -->
        <div class="sidebar-widget">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Locación</label>
            <select class="form-control" name="locacion" [(ngModel)]="filtros.Locacion">
              <option value="">Seleccionar--</option>
              <option value="San Jose">San Jose</option>
              <option value="Heredia">Heredia</option>
              <option value="Alajuela">Alajuela</option>
              <option value="Puntarenas">Puntarenas</option>
              <option value="Guanacaste">Guanacaste</option>
              <option value="Cartago">Cartago</option>
              <option value="Limón">Limón</option>
          </select>
          </div>
        </div>

        <div class="sidebar-widget">
          <h3>Especialidad</h3>
          <div class="input-with-icon">
            <div id="autocomplete-container">
              <input
                type="text"
                name="Especialidad"
                [(ngModel)]="filtros.Especialidad"
                placeholder="Odontología, Ginecología ..."
              />
            </div>
            <i class="fas fa-user-md"></i>
          </div>
        </div>

        <div class="sidebar-widget">
          <h3>Nombre</h3>
          <select class="form-control" name="IdDoctor" [(ngModel)]="filtros.IdDoctor">
            <option value="">Seleccionar--</option>
            <option *ngFor="let nombre of nombresSelect" [value]="nombre.IdDoctor">{{nombre.Nombre}}</option>
          </select>          
        </div>

        <!-- Keywords -->
        <div class="sidebar-widget">
          <div class="form-group">
            <label for="exampleFormControlSelect1">Genero</label>
            <select class="form-control" name="genero" [(ngModel)]="filtros.Genero">
              <option value="">Seleccionar--</option>
              <option value="1">Masculino</option>
              <option value="2">Femenino</option>
              <option value="3">Otro...</option>
            </select>
          </div>
        </div>

        <div class="sidebar-widget">
          <button type="button" (click)="cargarUsuarios()" class="button button-sliding-icon ripple-effect"
            >Aplicar Filtros <i class="fas fa-search"></i
          ></button>
        </div>

        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-xl-9 col-lg-8 content-left-offset">
      <h3 class="page-title">
        Resultados de la búsqueda:
      </h3>

      <!-- Freelancers List Container -->
      <div class="freelancers-container freelancers-list-layout margin-top-35">
        <!--Freelancer -->
        <div class="freelancer" *ngFor="let doctor of doctores">
          <!-- Overview -->
          <div class="freelancer-overview">
            <div class="freelancer-overview-inner">
              <!-- Avatar -->
              <div>
                <a [routerLink]="['/doctor', doctor.IdDoctor]"
                  ><img class="img-avatar" src="{{ doctor.Foto | imagen }}" alt=""
                /></a>
              </div>

              <!-- Name -->
              <div class="freelancer-name">
                <h4>
                  <a [routerLink]="['/doctor', doctor.IdDoctor]"
                    >{{
                      doctor.Nombre +
                        " " +
                        doctor.PrimerApellido +
                        " " +
                        doctor.SegundoApellido
                    }}</a>
                </h4>
                <span>{{doctor.Titulo}}</span>
              </div>
            </div>
          </div>

          <!-- Details -->
          <div class="freelancer-details">
            <div class="freelancer-details-list">
							<ul>
								<li>Locación <strong><i class="icon-material-outline-location-on"></i> {{ doctor.Locacion }}</strong></li>
								<li>Rate <strong>$60 / hr</strong></li>
								<li>Job Success <strong>95%</strong></li>
							</ul>
						</div>
            <a
              [routerLink]="['/doctor', doctor.IdDoctor]"
              class="button button-sliding-icon ripple-effect"
              >Ver perfil <i class="fas fa-arrow-right"></i
            ></a>
          </div>
        </div>
        <!-- Freelancer / End -->
      </div>
      <!-- Tasks Container / End -->

      <!-- Pagination -->
      <div class="clearfix"></div>
      <!--<div class="row justify-content-center text-center">
        <div class="col-md-12">
          <div class="pagination-container margin-top-40 margin-bottom-60">
            <pagination
              [boundaryLinks]="true"
              [totalItems]="pagination.itemsTotales"
              [itemsPerPage]="pagination.itemsPorPagina"
              [(ngModel)]="pagination.paginaActual"
              (pageChanged)="pageChanged($event)"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            >
            </pagination>
          </div>
        </div>
      </div>-->
      <!-- Pagination / End -->
    </div>
  </div>
</div>
<app-footer></app-footer>
