<div class="dashboard-content-container" data-simplebar>
  <div class="dashboard-content-inner">
    <!-- Dashboard Headline -->
    <div class="dashboard-headline">
      <h3>Configuración agenda</h3>

      <!-- Breadcrumbs -->
      <nav id="breadcrumbs" class="dark">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Dashboard</a></li>
          <li>Settings</li>
        </ul>
      </nav>
    </div>
    <!-- Dashboard Box -->
    <div class="col-xl-12 col-sm-12" >
      <button class="button ripple-effect" (click)="toggleWeekends()">
        Mostrar fines de semana
      </button>
      <br />
      <hr />
      <div class="calendar-container">
        <full-calendar
        #fullcalendar
        displayEventEnd="true"
        [timeZone]="options.timeZone"
        [buttonText]="options.buttonText"
        [contentHeight]="options.contentHeight"
        [height]="options.height"
        [handleWindowResize]="options.handleWindowResize"
        [defaultView]="dayGridMonth"
        [plugins]="options.plugins"
        [weekends]="calendarWeekends"
        [events]="calendarEvents"
        [header]="options.header"
        [locales]="options.locales"
        [locale]="options.locale"
        [customButtons]="options.customButtons"
        [deepChangeDetection]="true"
        (eventClick)="eventClick($event.event,template)"
    ></full-calendar>
      </div>
    </div>
  </div>
</div>

<ng-template #template let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Información Cita: {{ detalleEvento.IdAgenda }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="cerrarModal(modal)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row pt-2">
        <div class="col-6">
          <span><strong>Nombre: </strong>{{ detalleEvento.Nombre }}</span>
        </div>
        <div class="col-6">
          <span><strong>Cédula: </strong>{{ detalleEvento.cedula }}</span>
        </div>  
      </div>
      <div class="row pt-2">
        <div class="col">
          <span><strong>Correo: </strong>{{ detalleEvento.correo }}</span>
        </div>
        <div class="col">
          <span><strong>Teléfono: </strong>{{ detalleEvento.celular }}</span>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <span><strong>Motivo Cita: </strong>{{ detalleEvento.motivocita }}</span>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <span><strong>Inicio: </strong>{{ detalleEvento.start | date:'short':'UTC' }}</span>
        </div>
        <div class="col">
          <span><strong>Final: </strong>{{ detalleEvento.endDate | date:'short':'UTC' }}</span>
        </div>
      </div>
      <div class="row pt-2">
        <div class="col">
          <span><strong>Doctor: </strong>{{ detalleEvento.Doctor }}</span>
        </div>
      </div>
      <hr>
      <div class="row pt-2">
        <div class="col-12">
          <button class="btn btn-primary btn-block">Agendar</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>