<app-navbar></app-navbar>
<br />
<br />
<!-- Titlebar
================================================== -->
<div
  class="single-page-header freelancer-header"
  data-background-image="images/single-freelancer.jpg"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="single-page-header-inner">
          <div class="left-side">
            <div class="header-image freelancer-avatar">
              <img src="{{ this.doctor.Foto | imagen }}" alt="" />
            </div>
            <div class="header-details">
              <h3>
                {{
                  doctor.Nombre +
                    " " +
                    doctor.PrimerApellido +
                    " " +
                    doctor.SegundoApellido
                }}<span>{{ doctor.Especialidades[0].Descripcion }}</span>
              </h3>
              <ul>
                <li><div class="star-rating" data-rating="5.0"></div></li>
                <li>
                  <img class="flag" src="images/flags/de.svg" alt="" /> Germany
                </li>
                <li><div class="verified-badge-with-title">Verified</div></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
  <div class="row">
    <!-- Content -->
    <div class="col-xl-8 col-lg-8 content-right-offset">
      <!-- Page Content -->
      <div class="single-page-section">
        <h3 class="margin-bottom-25">Sobre mi</h3>
        <p>
          {{ this.doctor.SobreMi }}
        </p>
      </div>

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="fas fa-briefcase"></i> Experiencia laboral</h3>
        </div>
        <ul class="boxed-list-ul">
          <li *ngFor="let empleo of this.doctor.Experiencia">
            <div class="boxed-list-item">
              <!-- Content -->
              <div class="item-content">
                <h4>
                  {{ empleo.Puesto }}
                  <span>{{ empleo.LugarTrabajo }}</span>
                </h4>
                <div class="item-details margin-top-10">
                  <div class="detail-item">
                    <i class="far fa-calendar-alt"></i>
                    {{ empleo.FechaInicial | date: "shortDate" }} -
                    {{ empleo.FechaFinal | date: "shortDate" }}
                  </div>
                </div>
                <div class="item-description">
                  <p>
                    {{ empleo.Labores }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Boxed List / End -->

      <!-- Boxed List -->
      <div class="boxed-list margin-bottom-60">
        <div class="boxed-list-headline">
          <h3><i class="fas fa-graduation-cap"></i> Estudios</h3>
        </div>
        <ul class="boxed-list-ul">
          <li *ngFor="let estudio of this.doctor.Estudios">
            <div class="boxed-list-item">
              <!-- Avatar -->
              <div class="item-image">
                <img src="images/browse-companies-03.png" alt="" />
              </div>

              <!-- Content -->
              <div class="item-content">
                <h4>{{ estudio.CentroEstudios }}</h4>
                <div class="item-details margin-top-7">
                  <div class="detail-item">
                    <i class="far fa-calendar-alt"></i>
                    {{ estudio.FechaInicial | date: "shortDate" }} -
                    {{ estudio.FechaFinal | date: "shortDate" }}
                  </div>
                </div>
                <div class="item-description">
                  <p>
                    {{ estudio.Descripcion }}
                  </p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- Boxed List / End -->
    </div>

    <!-- Sidebar -->
    <div class="col-xl-4 col-lg-4">
      <div class="sidebar-container">
        <!-- Profile Overview -->
        <div class="profile-overview">
          <div class="overview-item">
            <strong>$35</strong><span>Hourly Rate</span>
          </div>
          <div class="overview-item">
            <strong>53</strong><span>Jobs Done</span>
          </div>
          <div class="overview-item">
            <strong>22</strong><span>Rehired</span>
          </div>
        </div>

        <!-- Button -->
        <button
        [routerLink] = "['/agenda', this.doctor.IdDoctor]"
        class="button ripple-effect"
          >Agendar Cita <i class="far fa-calendar-alt"></i
        ></button>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3>Redes Sociales</h3>
          <div class="freelancer-socials margin-top-25">
            <ul>
              <li *ngFor="let red of this.doctor.RedesSociales">
                <a
                  [href]="red.Url"
                  [title]="red.Descripcion"
                  data-tippy-placement="top"
                  target="_blank"
                  ><i
                    class="fab"
                    [ngClass]="{
                      'fa-instagram-square': red.Descripcion == 'instagram',
                      'fa-twitter-square': red.Descripcion == 'twitter',
                      'fa-facebook-square': red.Descripcion == 'facebook'
                    }"
                  ></i
                ></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Widget -->
        <div class="sidebar-widget">
          <h3>Especialidades</h3>
          <div class="task-tags">
            <span *ngFor="let especialidad of this.doctor.Especialidades">{{
              especialidad.Descripcion
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->
<app-footer></app-footer>
