<!-- Footer
================================================== -->
<div id="footer">
  <!-- Footer Top Section -->
  <div class="footer-top-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <!-- Footer Rows Container -->
          <div class="footer-rows-container">
            <!-- Left Side -->
            <div class="footer-rows-left">
              <div class="footer-row">
                <div class="footer-row-inner footer-logo">
                  <img src="../../../../assets/img/logo-grupo-argus-productos.png" alt="" />
                </div>
              </div>
            </div>

            <!-- Right Side -->
            <div class="footer-rows-right">
              <!-- Social Icons -->
              <div class="footer-row">
                <div class="footer-row-inner">
                  <ul class="footer-social-links">
                    <li>
                      <a href="https://www.facebook.com/grupoarguscr/" title="Facebook" target="_blank" data-tippy-placement="top">
                        <i class="fab fa-facebook-square"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/grupo.argus/" title="Instagram" target="_blank" data-tippy-placement="top">
                        <i class="fab fa-instagram-square"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://www.youtube.com/channel/UCy0pyg30sppX1gyXQlzeX4w" title="YouTube" target="_blank" data-tippy-placement="top">
                        <i class="fab fa-youtube-square"></i>
                      </a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>

              <!-- Language Switcher -->
              <div class="footer-row">
                
              </div>
            </div>
          </div>
          <!-- Footer Rows Container / End -->
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Top Section / End -->

  <!-- Footer Middle Section -->
  <div class="footer-middle-section">
    <div class="container">
      <div class="row">
        <!-- Links -->
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="footer-links">
            <h3>Un producto de</h3>
            <ul>
              <li>
                <a href="https://grupoargus.co.cr/" target="_blank"><span>Grupo Argus</span></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Links -->
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="footer-links">
            <h3>Otros productos</h3>
            <ul>
              <li>
                <a href="https://grupoargus.co.cr/administra/" target="_blank"><span>Administra</span></a>
              </li>
              <li>
                <a href="https://grupoargus.co.cr/administra-mobile/" target="_blank"><span>Administra<strong>Mobile</strong></span></a>
              </li>
              <li>
                <a href="https://grupoargus.co.cr/factura-506/" target="_blank"><span>Factura506</span></a>
              </li>
              <li>
                <a href="https://grupoargus.co.cr/sistemas-medicos/" target="_blank"><span>MediScience</span></a>
              </li>
              <li>
                <a href="https://grupoargus.co.cr/sistemas-medicos/" target="_blank"><span>DoctorDent</span></a>
              </li>
              <li>
                <a href="https://grupoargus.co.cr/sistemas-medicos/" target="_blank"><span>DigitalVet</span></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Links -->
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="footer-links">
            <h3>Contacto</h3>
            <ul>
              <li>
                <a href="https://grupoargus.co.cr/contactenos/" target="_blank"><span>Contacto</span></a>
              </li>
              <li>
                <a href="tel:+50640823500"><span>(+506) 4001 0350</span></a>
              </li>
              <li>
                <a href="https://api.whatsapp.com/send?phone=50662240534&text=Hola,%20estoy%20interesado%20en%20recibir%20informaci%C3%B3n%20acerca%20de%20sus%20sistemas" target="_blank">
                  <span>(+506) 6224 0534</span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Links -->
        <div class="col-xl-2 col-lg-2 col-md-3">
          <div class="footer-links">
            <h3>Cuenta</h3>
            <ul>
              <li>
                <a [routerLink]="['/login']"><span>Log In</span></a>
              </li>
            </ul>
          </div>
        </div>

        <!-- Newsletter -->
        <div class="col-xl-4 col-lg-4 col-md-12">
          <h3><i class="icon-feather-mail"></i> Sign Up For a Newsletter</h3>
          <p>
            Weekly breaking news, analysis and cutting edge advices on job
            searching.
          </p>
          <form action="#" method="get" class="newsletter">
            <input
              type="text"
              name="fname"
              placeholder="Enter your email address"
            />
            <button type="submit">
              <i class="icon-feather-arrow-right"></i>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Middle Section / End -->

  <!-- Footer Copyrights -->
  <div class="footer-bottom-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          © {{ fecha.getFullYear() }} <strong>Grupo Argus</strong>. Derechos Reservados.
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Copyrights / End -->
</div>
<!-- Footer / End -->
